1-59059-724-9/Ch 16/Class Libraries/LittleItalyVineyard.Operational/Web References/PayPalAPI.Sandbox/PayPalSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ebl="urn:ebay:apis:eBLBaseComponents" xmlns:cc="urn:ebay:apis:CoreComponentTypes" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns="urn:ebay:api:PayPalAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ns:version="2.2" targetNamespace="urn:ebay:api:PayPalAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ebay:api:PayPalAPI">
      <xsd:import schemaLocation="CoreComponentTypes.xsd" namespace="urn:ebay:apis:CoreComponentTypes" />
      <xsd:import schemaLocation="eBLBaseComponents.xsd" namespace="urn:ebay:apis:eBLBaseComponents" />
      <xsd:element name="RequesterCredentials" type="ebl:CustomSecurityHeaderType" />
      <xsd:element name="RefundTransactionRequest" type="ns:RefundTransactionRequestType" />
      <xsd:element name="RefundTransactionResponse" type="ns:RefundTransactionResponseType" />
      <xsd:element name="RefundTransactionReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:RefundTransactionRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RefundTransactionRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element name="TransactionID" type="ebl:TransactionId">
                <xsd:annotation>
                  <xsd:documentation>Unique identifier of the  transaction you are refunding.
<br /><br /><b>Required</b><br /><br />
Character length and limitations: 17 single-byte alphanumeric characters 
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="RefundType" type="ebl:RefundPurposeTypeCodeType">
                <xsd:annotation>
                  <xsd:documentation>Type of refund you are making
<br /><br /><b>Required</b></xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Amount" type="cc:BasicAmountType">
                <xsd:annotation>
                  <xsd:documentation>Refund amount. 
<br /><br />
Amount is <b>required</b>  if RefundType is Partial.
<br /><br />
NOTE: If RefundType is Full, do not set Amount.
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Memo" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Custom memo about the refund. 
<br /><br />
Optional
<br /><br />
Character length and limitations: 255 single-byte alphanumeric characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RefundTransactionResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="RefundTransactionID" nillable="true" type="ebl:TransactionId">
                <xsd:annotation>
                  <xsd:documentation>Unique transaction ID of the refund. 
<br /><br />
Character length and limitations:17 single-byte characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="NetRefundAmount" type="cc:BasicAmountType">
                <xsd:annotation>
                  <xsd:documentation>Amount subtracted from PayPal balance of original recipient of payment to make this refund 
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="FeeRefundAmount" type="cc:BasicAmountType">
                <xsd:annotation>
                  <xsd:documentation>Transaction fee refunded to original recipient of payment 
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="GrossRefundAmount" type="cc:BasicAmountType">
                <xsd:annotation>
                  <xsd:documentation>Amount of money refunded to original payer </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetTransactionDetailsRequest" type="ns:GetTransactionDetailsRequestType" />
      <xsd:element name="GetTransactionDetailsResponse" type="ns:GetTransactionDetailsResponseType" />
      <xsd:element name="GetTransactionDetailsReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:GetTransactionDetailsRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GetTransactionDetailsRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element name="TransactionID" type="ebl:TransactionId">
                <xsd:annotation>
                  <xsd:documentation>Unique identifier of a transaction. 
<br /><br /><b>Required</b><br /><br />
The details for some kinds of transactions cannot be retrieved with GetTransactionDetailsRequest. You cannot obtain details of bank transfer withdrawals, for example. 
<br /><br />
Character length and limitations: 17 single-byte alphanumeric characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GetTransactionDetailsResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element ref="ebl:PaymentTransactionDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="BillUserRequest" type="ns:BillUserRequestType" />
      <xsd:element name="BillUserResponse" type="ns:BillUserResponseType" />
      <xsd:element name="BillUserReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:BillUserRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BillUserRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element ref="ebl:MerchantPullPaymentDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BillUserResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element ref="ebl:BillUserResponseDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="TransactionSearchRequest" type="ns:TransactionSearchRequestType" />
      <xsd:element name="TransactionSearchResponse" type="ns:TransactionSearchResponseType" />
      <xsd:element name="TransactionSearchReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:TransactionSearchRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="TransactionSearchRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="StartDate" type="xsd:dateTime">
                <xsd:annotation>
                  <xsd:documentation>The earliest transaction date at which to start the search. No wildcards are allowed. Value must be in UTC/GMT format. 
<br /><br /><b>Required</b></xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" name="EndDate" type="xsd:dateTime">
                <xsd:annotation>
                  <xsd:documentation>The latest transaction date to be included in the search 
<br /><br />
Optional
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Payer" type="ebl:EmailAddressType">
                <xsd:annotation>
                  <xsd:documentation>Search by the buyer's email address 
<br /><br />
Optional
<br /><br />
Character length and limitations: 127 single-byte alphanumeric characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Receiver" type="ebl:EmailAddressType">
                <xsd:annotation>
                  <xsd:documentation>Search by the receiver's email address. If the merchant account has only one email, this is the primary email. Can also be a non-primary email.
<br /><br />
Optional
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="ReceiptID" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Search by the PayPal Account Optional receipt ID
<br /><br />
Optional
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="TransactionID" type="ebl:TransactionId">
                <xsd:annotation>
                  <xsd:documentation>Search by the transaction ID. 
<br /><br />
Optional
<br /><br />
The returned results are from the merchant's transaction records. 
<br /><br />
Character length and limitations: 19 single-byte characters maximum
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="PayerName" type="ebl:PersonNameType">
                <xsd:annotation>
                  <xsd:documentation>Search by the buyer's name 
<br /><br />
Optional
<br /><br />
Salutation: 20 single-byte character limit.
<br /><br />
FirstName: 25 single-byte character limit.
<br /><br />
MiddleName: 25 single-byte character limit.
<br /><br />
LastName: 25 single-byte character limit.
<br /><br />
Suffix: 12 single-byte character limit.
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="AuctionItemNumber" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Search by auction item number of the purchased goods.
<br /><br />
Optional
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Search by invoice identification key, as set by you for the original transaction. InvoiceID searches the invoice records for items sold by the merchant, not the items purchased. 
<br /><br />
Optional
<br /><br />
The value for InvoiceID must exactly match an invoice identification number. No wildcards are allowed. 
<br /><br />
Character length and limitations: 127 single-byte characters maximum</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="CardNumber" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Search by credit card number, as set by you for the original transaction. CardNumber searches the records for items sold by the merchant, not the items purchased.
<br /><br />
Optional
No wildcards are allowed.
<br /><br />
Character length and limitations: Must be at least 11 and no more than 25 single-byte numeric characters maximum. Special punctuation, such as dashes or spaces, is ignored.
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="TransactionClass" type="ebl:PaymentTransactionClassCodeType">
                <xsd:annotation>
                  <xsd:documentation>
								Search by classification of transaction. Some kinds of possible classes of transactions are not searchable with TransactionSearchRequest. You cannot search for bank transfer withdrawals, for example. 
<br /><br />
Optional
<br /><br />
All: all transaction classifications.
<br /><br />
Sent: only payments sent.
<br /><br />
Received: only payments received.
<br /><br />
MassPay: only mass payments.
<br /><br />
MoneyRequest: only money requests.
<br /><br />
FundsAdded: only funds added to balance.
<br /><br />
FundsWithdrawn: only funds withdrawn from balance.
<br /><br />
Referral: only transactions involving referrals.
<br /><br />
Fee: only transactions involving fees.
<br /><br />
Subscription: only transactions involving subscriptions.
<br /><br />
Dividend: only transactions involving dividends.
<br /><br />
Billpay: only transactions involving BillPay Transactions.
<br /><br />
Refund: only transactions involving funds.
<br /><br />
CurrencyConversions: only transactions involving currency conversions.
<br /><br />
BalanceTransfer: only transactions involving balance transfers.
<br /><br />
Reversal: only transactions involving BillPay reversals.
<br /><br />
Shipping: only transactions involving UPS shipping fees.
<br /><br />
BalanceAffecting: only transactions that affect the account balance.
<br /><br />
ECheck: only transactions involving eCheck
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Amount" type="cc:BasicAmountType">
                <xsd:annotation>
                  <xsd:documentation>Search by transaction amount 
<br /><br />
Optional
<br /><br />
You must set the currencyID attribute to one of the three-character currency codes for any of the supported PayPal currencies. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="ebl:CurrencyCodeType">
                <xsd:annotation>
                  <xsd:documentation>Search by currency code
<br /><br />
Optional
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="ebl:PaymentTransactionStatusCodeType">
                <xsd:annotation>
                  <xsd:documentation>Search by transaction status 
<br /><br />
Optional
<br /><br />
Pending: The payment is pending. The specific reason the payment is pending is returned by the GetTransactionDetails APIPendingReason element. For more information, see PendingReason.
<br /><br />
Processing: The payment is being processed.
<br /><br />
Success: The payment has been completed and the funds have been added successfully to your account balance.
<br /><br />
Denied: You denied the payment. This happens only if the payment was previously pending.
<br /><br />
Reversed: A payment was reversed due to a chargeback or other type of reversal. The funds have been removed from your account balance and returned to the buyer.
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TransactionSearchResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ebl:PaymentTransactions">
                <xsd:annotation>
                  <xsd:documentation>Results of a Transaction Search.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="MassPayRequest" type="ns:MassPayRequestType" />
      <xsd:element name="MassPayResponse" type="ns:MassPayResponseType" />
      <xsd:element name="MassPayReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:MassPayRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="MassPayRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="EmailSubject" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Subject line of the email sent to all recipients. This subject is not contained in the input file; you must create it with your application. 
<br /><br />
Optional
<br /><br />
Character length and limitations: 255 single-byte alphanumeric characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="ReceiverType" type="ebl:ReceiverInfoCodeType">
                <xsd:annotation>
                  <xsd:documentation>Indicates how you identify the recipients of payments in all MassPayItems: either by EmailAddress (ReceiverEmail in MassPayItem), PhoneNumber (ReceiverPhone in MassPayItem), or by UserID (ReceiverID in MassPayItem). 
<br /><br /><b>Required. </b>You must specify one or the other of EmailAddress or UserID.
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="250" name="MassPayItem" type="ns:MassPayRequestItemType">
                <xsd:annotation>
                  <xsd:documentation>Details of each payment. A single MassPayRequest can include up to 250 MassPayItems. 
<br /><br /><b>Required</b></xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MassPayResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MassPayRequestItemType">
        <xsd:annotation>
          <xsd:documentation>
					MassPayRequestItemType
				</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="ReceiverEmail" type="ebl:EmailAddressType">
            <xsd:annotation>
              <xsd:documentation>Email address of recipient. 
<br /><br /><b>Required</b><br /><br />
You must specify ReceiverEmail, ReceiverPhone, or ReceiverID, but all MassPayItems in a request must use the same field to specify recipients.
<br /><br />
Character length and limitations: 127 single-byte characters maximum.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="ReceiverPhone" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Phone number of recipient. 
<br /><br /><b>Required</b><br /><br />
You must specify ReceiverEmail, ReceiverPhone, or ReceiverID, but all MassPayItems in a request must use the same field to specify recipients.
<br /><br /></xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="ReceiverID" type="ebl:UserIDType">
            <xsd:annotation>
              <xsd:documentation>Unique PayPal customer account number. This value corresponds to the value of PayerID returned by GetTransactionDetails. 
<br /><br /><b>Required</b><br /><br />
You must specify ReceiverEmail, ReceiverPhone, or ReceiverID, but all MassPayItems in a request must use the same field to specify recipients.
<br /><br />
Character length and limitations: 17 single-byte characters maximum.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="Amount" type="cc:BasicAmountType">
            <xsd:annotation>
              <xsd:documentation>Payment amount. You must set the currencyID attribute to one of the three-character currency codes for any of the supported PayPal currencies. 
<br /><br /><b>Required</b><br /><br />
You cannot mix currencies in a single MassPayRequest. A single request must include items that are of the same currency.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="UniqueId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Transaction-specific identification number for tracking in an accounting system. 
<br /><br />
Optional
<br /><br />
Character length and limitations: 30 single-byte characters. No whitespace allowed.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="Note" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Custom note for each recipient. 
<br /><br />
Optional
<br /><br />
Character length and limitations: 4,000 single-byte alphanumeric characters
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="BAUpdateRequest" type="ns:BAUpdateRequestType" />
      <xsd:element name="BAUpdateResponse" type="ns:BAUpdateResponseType" />
      <xsd:element name="BillAgreementUpdateReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:BAUpdateRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BAUpdateRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="MpID" type="ebl:MerchantPullIDType">
                <xsd:annotation>
                  <xsd:documentation>Preapproved Payments billing agreement identification number. Corresponds to the FORM variable mp_id. 
<br /><br /><b>Required</b><br /><br />
Character limit: 19 single-byte alphanumeric characters.
The format of a billing agreement identification number is the single-character prefix B, followed by a hyphen and an alphanumeric character string: <br /><br />B-unique_alphanumeric_string 
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Custom" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Custom annotation field for your exclusive use 
<br /><br />
Optional
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Desc" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Description of goods or services associated with the billing agreement 
<br /><br />
Optional
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="MpStatus" type="ebl:MerchantPullStatusCodeType">
                <xsd:annotation>
                  <xsd:documentation>The current status of the billing agreement
								<br /><br />
Optional</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BAUpdateResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element ref="ebl:BAUpdateResponseDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="AddressVerifyRequest" type="ns:AddressVerifyRequestType" />
      <xsd:element name="AddressVerifyResponse" type="ns:AddressVerifyResponseType" />
      <xsd:element name="AddressVerifyReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:AddressVerifyRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AddressVerifyRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Email" type="ebl:EmailAddressType">
                <xsd:annotation>
                  <xsd:documentation>Email address of buyer to be verified. 
<br /><br /><b>Required</b><br /><br />
Maximum string length: 255 single-byte characters Input mask: ?@?.??

</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="Street" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>First line of buyer’s billing or shipping street address to be verified. 
<br /><br /><b>Required</b><br /><br />For verification, input value of street address must match the first three single-byte characters of the street address on file for the PayPal account.
<br /><br />
Maximum string length: 35 single-byte characters Alphanumeric plus - , . ‘ # \ Whitespace and case of input value are ignored.
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="Zip" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Postal code to be verified. 
<br /><br /><b>Required</b><br /><br />

For verification, input value of postal code must match the first five single-byte characters of the postal code on file for the PayPal account.
<br /><br />
Maximum string length: 16 single-byte characters Whitespace and case of input value are ignored.
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AddressVerifyResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="ConfirmationCode" type="ebl:AddressStatusCodeType">
                <xsd:annotation>
                  <xsd:documentation>Confirmation of a match, with one of the following tokens:
							<br /><br />
None: The input value of the Email object does not match any email address on file at PayPal.
	<br /><br />
Confirmed: If the value of the StreetMatch object is Matched, PayPal responds that the entire postal address is confirmed.
	<br /><br />
Unconfirmed: PayPal responds that the postal address is unconfirmed</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="StreetMatch" type="ebl:MatchStatusCodeType">
                <xsd:annotation>
                  <xsd:documentation>PayPal has compared the postal address you want to verify with the postal address on file at PayPal.
								<br /><br />
								None: The input value of the Email object does not match any email address on file at PayPal. In addition, an error response is returned. No further comparison of other input values has been made.
									<br /><br />
Matched: The street address matches the street address on file at PayPal.
	<br /><br />
Unmatched: The street address does not match the street address on file at PayPal. 
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="ZipMatch" type="ebl:MatchStatusCodeType">
                <xsd:annotation>
                  <xsd:documentation>PayPal has compared the zip code you want to verify with the zip code on file for the email address. 
								<br /><br />
								None: The street address was unmatched. No further comparison of other input values has been made.
																<br /><br />Matched: The zip code matches the zip code on file at PayPal.
																								<br /><br />Unmatched: The zip code does not match the zip code on file at PayPal. 
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="CountryCode" type="ebl:CountryCodeType">
                <xsd:annotation>
                  <xsd:documentation>Two-character country code (ISO 3166) on file for the PayPal email address. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="PayPalToken" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The token prevents a buyer from using any street address other than the address on file at PayPal during additional purchases he might make from the merchant. It contains encrypted information about the user’s street address and email address. You can pass the value of the token with the Buy Now button HTML address_api_token variable so that PayPal prevents the buyer from using any street address or email address other than those verified by PayPal. The token is valid for 24 hours. 
								<br />
Character length and limitations: 94 single-byte characters
								</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="EnterBoardingRequest" type="ns:EnterBoardingRequestType" />
      <xsd:element name="EnterBoardingResponse" type="ns:EnterBoardingResponseType" />
      <xsd:element name="EnterBoardingReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:EnterBoardingRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EnterBoardingRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:EnterBoardingRequestDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EnterBoardingResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Token" type="ebl:ExpressCheckoutTokenType">
                <xsd:annotation>
                  <xsd:documentation>
								A unique token that identifies this boarding session. 
Use this token with the GetBoarding Details API call.
<br /><br />
Character length and limitations: 64 alphanumeric characters. The token has the following format:
<br /><br />
OB-61characterString</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetBoardingDetailsRequest" type="ns:GetBoardingDetailsRequestType" />
      <xsd:element name="GetBoardingDetailsResponse" type="ns:GetBoardingDetailsResponseType" />
      <xsd:element name="GetBoardingDetailsReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:GetBoardingDetailsRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GetBoardingDetailsRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Token" type="ebl:ExpressCheckoutTokenType">
                <xsd:annotation>
                  <xsd:documentation>
								A unique token returned by the EnterBoarding API call that identifies this boarding session. 
<br /><br /><b>Required</b><br /><br />
Character length and limitations: 64 alphanumeric characters. The token has the following format:
<br /><br />
OB-61characterString</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GetBoardingDetailsResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:GetBoardingDetailsResponseDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="SetExpressCheckoutRequest" type="ns:SetExpressCheckoutRequestType" />
      <xsd:element name="SetExpressCheckoutResponse" type="ns:SetExpressCheckoutResponseType" />
      <xsd:element name="SetExpressCheckoutReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:SetExpressCheckoutRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="SetExpressCheckoutRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:SetExpressCheckoutRequestDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SetExpressCheckoutResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Token" type="ebl:ExpressCheckoutTokenType">
                <xsd:annotation>
                  <xsd:documentation>A timestamped token by which you identify to PayPal that you are processing this payment with Express Checkout. The token expires after three hours. If you set Token in the SetExpressCheckoutRequest, the value of Token in the response is identical to the value in the request. 
								<br /><br />
Character length and limitations: 20 single-byte characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetExpressCheckoutDetailsRequest" type="ns:GetExpressCheckoutDetailsRequestType" />
      <xsd:element name="GetExpressCheckoutDetailsResponse" type="ns:GetExpressCheckoutDetailsResponseType" />
      <xsd:element name="GetExpressCheckoutDetailsReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:GetExpressCheckoutDetailsRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GetExpressCheckoutDetailsRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Token" type="ebl:ExpressCheckoutTokenType">
                <xsd:annotation>
                  <xsd:documentation>A timestamped token, the value of which was returned by SetExpressCheckoutResponse. 
<br /><br /><b>Required</b><br /><br />
Character length and limitations: 20 single-byte characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GetExpressCheckoutDetailsResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:GetExpressCheckoutDetailsResponseDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DoExpressCheckoutPaymentRequest" type="ns:DoExpressCheckoutPaymentRequestType" />
      <xsd:element name="DoExpressCheckoutPaymentResponse" type="ns:DoExpressCheckoutPaymentResponseType" />
      <xsd:element name="DoExpressCheckoutPaymentReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:DoExpressCheckoutPaymentRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoExpressCheckoutPaymentRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:DoExpressCheckoutPaymentRequestDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DoExpressCheckoutPaymentResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:DoExpressCheckoutPaymentResponseDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DoDirectPaymentRequest" type="ns:DoDirectPaymentRequestType" />
      <xsd:element name="DoDirectPaymentResponse" type="ns:DoDirectPaymentResponseType" />
      <xsd:element name="DoDirectPaymentReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:DoDirectPaymentRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoDirectPaymentRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:DoDirectPaymentRequestDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DoDirectPaymentResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Amount" type="cc:BasicAmountType">
                <xsd:annotation>
                  <xsd:documentation>
							The amount of the payment as specified by you on DoDirectPaymentRequest.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="AVSCode" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>
					Address Verification System response code. Character limit: One single-byte alphanumeric character
				<table><tr><th>AVS Code</th><th>Meaning</th><th>Matched Details</th></tr><tr><td>A </td><td>Address</td><td>Address only (no ZIP) </td></tr><tr><td>B </td><td>International “A”</td><td>Address only (no ZIP)</td></tr><tr><td>C</td><td>International “N”</td><td> None </td></tr><tr><td>D</td><td>International “X” </td><td>Address and Postal Code</td></tr><tr><td>E </td><td>Not allowed for MOTO (Internet/Phone) transactions </td><td>Not applicable</td></tr><tr><td>F </td><td>UK-specific “X”</td><td>Address and Postal Code </td></tr><tr><td>G </td><td>Global Unavailable</td><td> Not applicable </td></tr><tr><td>I </td><td>International Unavailable</td><td>Not applicable </td></tr><tr><td>N </td><td>No</td><td>None</td></tr><tr><td>P</td><td>Postal (International “Z”)</td><td>Postal Code only (no Address) </td></tr><tr><td>R</td><td>Retry</td><td>Not applicable</td></tr><tr><td>S </td><td>Service not Supported </td><td>Not applicable </td></tr><tr><td>U </td><td>Unavailable</td><td>Not applicable </td></tr><tr><td>W </td><td>Whole ZIP</td><td>Nine-digit ZIP code (no Address) </td></tr><tr><td>X </td><td>Exact match </td><td>Address and nine-digit ZIP code</td></tr><tr><td>Y </td><td>Yes</td><td>Address and five-digit ZIP</td></tr><tr><td>Z </td><td>ZIP</td><td> Five-digit ZIP code (no Address)</td></tr><tr><td>All others </td><td>Error Not applicable</td><td></td></tr></table></xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="CVV2Code" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>
								Result of the CVV2 check by PayPal.
								<table><tr><th>CVV2 Code</th><th>Meaning</th><th>Matched Details</th></tr><tr><td>M </td><td>Match</td><td>CVV2 </td></tr><tr><td>N </td><td>No match </td><td>None</td></tr><tr><td>P </td><td>Not Processed</td><td>Not applicable</td></tr><tr><td>S</td><td>Service not Supported</td><td>Not applicable</td></tr><tr><td>U </td><td>Unavailable</td><td>Not applicable</td></tr><tr><td>X</td><td>No response</td><td>  Not applicable</td></tr><tr><td>All others </td><td>Error</td><td>Not applicable </td></tr></table></xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="TransactionID" type="ebl:TransactionId">
                <xsd:annotation>
                  <xsd:documentation>
							Transaction identification number.
							<br /><br />
							Character length and limitations: 19 characters maximum.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DoCaptureRequest" type="ns:DoCaptureRequestType" />
      <xsd:element name="DoCaptureResponse" type="ns:DoCaptureResponseType" />
      <xsd:element name="DoCaptureReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:DoCaptureRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoCaptureRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="AuthorizationID" type="ebl:AuthorizationId">
                <xsd:annotation>
                  <xsd:documentation>The authorization identification number of the payment you want to capture. 
<br /><br /><b>Required</b><br /><br />
Character length and limits: 19 single-byte characters maximum
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="Amount" type="cc:BasicAmountType">
                <xsd:annotation>
                  <xsd:documentation>Amount to authorize. You must set the currencyID attribute to USD. 
<br /><br /><b>Required</b><br /><br />
Limitations: Must not exceed $10,000 USD in any currency. No currency symbol. Decimal separator must be a period (.), and the thousands separator must be a comma (,)
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="CompleteType" type="ebl:CompleteCodeType">
                <xsd:annotation>
                  <xsd:documentation>Indicates if this capture is the last capture you intend to make. The default is Complete. If CompleteType is Complete, any remaining amount of the original reauthorized transaction is automatically voided. 
<br /><br /><b>Required</b><br /><br />
Character length and limits: 12 single-byte alphanumeric characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Note" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>An informational note about this settlement that is displayed to the payer in email and in  transaction history. 
<br /><br />
Optional
<br /><br />
Character length and limits: 255 single-byte characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Your invoice number or other identification number. 
<br /><br />
The InvoiceID value is recorded only if the authorization you are capturing is an order authorization, not a basic authorization.
<br /><br />
Optional
<br /><br />
Character length and limits: 127 single-byte alphanumeric characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DoCaptureResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="ebl:DoCaptureResponseDetails" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DoReauthorizationRequest" type="ns:DoReauthorizationRequestType" />
      <xsd:element name="DoReauthorizationResponse" type="ns:DoReauthorizationResponseType" />
      <xsd:element name="DoReauthorizationReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:DoReauthorizationRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoReauthorizationRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="AuthorizationID" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The value of a previously authorized transaction identification number returned by a PayPal product. You can obtain a buyer's transaction number from the TransactionID element of the PayerInfo structure returned by GetTransactionDetailsResponse. 
<br /><br /><b>Required</b><br /><br />
Character length and limits: 19 single-byte characters maximum
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="Amount" type="cc:BasicAmountType">
                <xsd:annotation>
                  <xsd:documentation>Amount to reauthorize. 
<br /><br /><b>Required</b><br /><br />
Limitations: Must not exceed $10,000 USD in any currency. No currency symbol. Decimal separator must be a period (.), and the thousands separator must be a comma (,).
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DoReauthorizationResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="AuthorizationID" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>A new authorization identification number.
								<br /><br />Character length and limits: 19 single-byte characters 
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DoVoidRequest" type="ns:DoVoidRequestType" />
      <xsd:element name="DoVoidResponse" type="ns:DoVoidResponseType" />
      <xsd:element name="DoVoidReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:DoVoidRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoVoidRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="AuthorizationID" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The value of the original authorization identification number returned by a PayPal product. 
<br /><br />
If you are voiding a transaction that has been reauthorized, use the ID from the original authorization, and not the reauthorization.
<br /><br /><b>Required</b><br /><br />
Character length and limits: 19 single-byte characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Note" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>An informational note about this settlement that is displayed to the payer in email and in  transaction history. 
<br /><br />
Optional
<br /><br />
Character length and limits: 255 single-byte characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DoVoidResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="AuthorizationID" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The authorization identification number you specified in the request. 
<br /><br />
Character length and limits: 19 single-byte characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DoAuthorizationRequest" type="ns:DoAuthorizationRequestType" />
      <xsd:element name="DoAuthorizationResponse" type="ns:DoAuthorizationResponseType" />
      <xsd:element name="DoAuthorizationReq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="ns:DoAuthorizationRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DoAuthorizationRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="TransactionID" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>The value of the order’s transaction identification number returned by a PayPal product. 
<br /><br /><b>Required</b><br /><br />Character length and limits: 19 single-byte characters maximum
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="TransactionEntity" type="ebl:TransactionEntityType">
                <xsd:annotation>
                  <xsd:documentation>Type of transaction to authorize. The only allowable value is <b>Order</b>, which means that the transaction represents a customer order that can be fulfilled over 29 days. 
<br /><br />
Optional
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="Amount" type="cc:BasicAmountType">
                <xsd:annotation>
                  <xsd:documentation>Amount to authorize. 
<br /><br /><b>Required</b><br /><br />
Limitations: Must not exceed $10,000 USD in any currency. No currency symbol. Decimal separator must be a period (.), and the thousands separator must be a comma (,).
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DoAuthorizationResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="ebl:AbstractResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="TransactionID" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>An authorization identification number. 
								<br /><br />
Character length and limits: 19 single-byte characters
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="Amount" type="cc:BasicAmountType">
                <xsd:annotation>
                  <xsd:documentation>The amount and currency you specified in the request. 
</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RequesterCredentials">
    <wsdl:part name="RequesterCredentials" element="ns:RequesterCredentials" />
  </wsdl:message>
  <wsdl:message name="RefundTransactionRequest">
    <wsdl:part name="RefundTransactionRequest" element="ns:RefundTransactionReq" />
  </wsdl:message>
  <wsdl:message name="RefundTransactionResponse">
    <wsdl:part name="RefundTransactionResponse" element="ns:RefundTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsRequest">
    <wsdl:part name="GetTransactionDetailsRequest" element="ns:GetTransactionDetailsReq" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsResponse">
    <wsdl:part name="GetTransactionDetailsResponse" element="ns:GetTransactionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="BillUserRequest">
    <wsdl:part name="BillUserRequest" element="ns:BillUserReq" />
  </wsdl:message>
  <wsdl:message name="BillUserResponse">
    <wsdl:part name="BillUserResponse" element="ns:BillUserResponse" />
  </wsdl:message>
  <wsdl:message name="TransactionSearchRequest">
    <wsdl:part name="TransactionSearchRequest" element="ns:TransactionSearchReq" />
  </wsdl:message>
  <wsdl:message name="TransactionSearchResponse">
    <wsdl:part name="TransactionSearchResponse" element="ns:TransactionSearchResponse" />
  </wsdl:message>
  <wsdl:message name="MassPayRequest">
    <wsdl:part name="MassPayRequest" element="ns:MassPayReq" />
  </wsdl:message>
  <wsdl:message name="MassPayResponse">
    <wsdl:part name="MassPayResponse" element="ns:MassPayResponse" />
  </wsdl:message>
  <wsdl:message name="BillAgreementUpdateRequest">
    <wsdl:part name="BillAgreementUpdateRequest" element="ns:BillAgreementUpdateReq" />
  </wsdl:message>
  <wsdl:message name="BAUpdateResponse">
    <wsdl:part name="body" element="ns:BAUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="AddressVerifyRequest">
    <wsdl:part name="AddressVerifyRequest" element="ns:AddressVerifyReq" />
  </wsdl:message>
  <wsdl:message name="AddressVerifyResponse">
    <wsdl:part name="AddressVerifyResponse" element="ns:AddressVerifyResponse" />
  </wsdl:message>
  <wsdl:message name="EnterBoardingRequest">
    <wsdl:part name="EnterBoardingRequest" element="ns:EnterBoardingReq" />
  </wsdl:message>
  <wsdl:message name="EnterBoardingResponse">
    <wsdl:part name="EnterBoardingResponse" element="ns:EnterBoardingResponse" />
  </wsdl:message>
  <wsdl:message name="GetBoardingDetailsRequest">
    <wsdl:part name="GetBoardingDetailsRequest" element="ns:GetBoardingDetailsReq" />
  </wsdl:message>
  <wsdl:message name="GetBoardingDetailsResponse">
    <wsdl:part name="GetBoardingDetailsResponse" element="ns:GetBoardingDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="DoExpressCheckoutPaymentRequest">
    <wsdl:part name="DoExpressCheckoutPaymentRequest" element="ns:DoExpressCheckoutPaymentReq" />
  </wsdl:message>
  <wsdl:message name="DoExpressCheckoutPaymentResponse">
    <wsdl:part name="DoExpressCheckoutPaymentResponse" element="ns:DoExpressCheckoutPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="SetExpressCheckoutRequest">
    <wsdl:part name="SetExpressCheckoutRequest" element="ns:SetExpressCheckoutReq" />
  </wsdl:message>
  <wsdl:message name="SetExpressCheckoutResponse">
    <wsdl:part name="SetExpressCheckoutResponse" element="ns:SetExpressCheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetExpressCheckoutDetailsRequest">
    <wsdl:part name="GetExpressCheckoutDetailsRequest" element="ns:GetExpressCheckoutDetailsReq" />
  </wsdl:message>
  <wsdl:message name="GetExpressCheckoutDetailsResponse">
    <wsdl:part name="GetExpressCheckoutDetailsResponse" element="ns:GetExpressCheckoutDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="DoDirectPaymentRequest">
    <wsdl:part name="DoDirectPaymentRequest" element="ns:DoDirectPaymentReq" />
  </wsdl:message>
  <wsdl:message name="DoDirectPaymentResponse">
    <wsdl:part name="DoDirectPaymentResponse" element="ns:DoDirectPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="DoCaptureRequest">
    <wsdl:part name="DoCaptureRequest" element="ns:DoCaptureReq" />
  </wsdl:message>
  <wsdl:message name="DoCaptureResponse">
    <wsdl:part name="DoCaptureResponse" element="ns:DoCaptureResponse" />
  </wsdl:message>
  <wsdl:message name="DoReauthorizationRequest">
    <wsdl:part name="DoReauthorizationRequest" element="ns:DoReauthorizationReq" />
  </wsdl:message>
  <wsdl:message name="DoReauthorizationResponse">
    <wsdl:part name="DoReauthorizationResponse" element="ns:DoReauthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="DoVoidRequest">
    <wsdl:part name="DoVoidRequest" element="ns:DoVoidReq" />
  </wsdl:message>
  <wsdl:message name="DoVoidResponse">
    <wsdl:part name="DoVoidResponse" element="ns:DoVoidResponse" />
  </wsdl:message>
  <wsdl:message name="DoAuthorizationRequest">
    <wsdl:part name="DoAuthorizationRequest" element="ns:DoAuthorizationReq" />
  </wsdl:message>
  <wsdl:message name="DoAuthorizationResponse">
    <wsdl:part name="DoAuthorizationResponse" element="ns:DoAuthorizationResponse" />
  </wsdl:message>
  <wsdl:portType name="PayPalAPIInterface">
    <wsdl:operation name="RefundTransaction">
      <wsdl:input message="ns:RefundTransactionRequest" />
      <wsdl:output message="ns:RefundTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <wsdl:input message="ns:GetTransactionDetailsRequest" />
      <wsdl:output message="ns:GetTransactionDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="BillUser">
      <wsdl:input message="ns:BillUserRequest" />
      <wsdl:output message="ns:BillUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="TransactionSearch">
      <wsdl:input message="ns:TransactionSearchRequest" />
      <wsdl:output message="ns:TransactionSearchResponse" />
    </wsdl:operation>
    <wsdl:operation name="MassPay">
      <wsdl:input message="ns:MassPayRequest" />
      <wsdl:output message="ns:MassPayResponse" />
    </wsdl:operation>
    <wsdl:operation name="BillAgreementUpdate">
      <wsdl:input message="ns:BillAgreementUpdateRequest" />
      <wsdl:output message="ns:BAUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddressVerify">
      <wsdl:input message="ns:AddressVerifyRequest" />
      <wsdl:output message="ns:AddressVerifyResponse" />
    </wsdl:operation>
    <wsdl:operation name="EnterBoarding">
      <wsdl:input message="ns:EnterBoardingRequest" />
      <wsdl:output message="ns:EnterBoardingResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBoardingDetails">
      <wsdl:input message="ns:GetBoardingDetailsRequest" />
      <wsdl:output message="ns:GetBoardingDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PayPalAPIAAInterface">
    <wsdl:operation name="DoExpressCheckoutPayment">
      <wsdl:input message="ns:DoExpressCheckoutPaymentRequest" />
      <wsdl:output message="ns:DoExpressCheckoutPaymentResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetExpressCheckout">
      <wsdl:input message="ns:SetExpressCheckoutRequest" />
      <wsdl:output message="ns:SetExpressCheckoutResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetExpressCheckoutDetails">
      <wsdl:input message="ns:GetExpressCheckoutDetailsRequest" />
      <wsdl:output message="ns:GetExpressCheckoutDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="DoDirectPayment">
      <wsdl:input message="ns:DoDirectPaymentRequest" />
      <wsdl:output message="ns:DoDirectPaymentResponse" />
    </wsdl:operation>
    <wsdl:operation name="DoCapture">
      <wsdl:input message="ns:DoCaptureRequest" />
      <wsdl:output message="ns:DoCaptureResponse" />
    </wsdl:operation>
    <wsdl:operation name="DoReauthorization">
      <wsdl:input message="ns:DoReauthorizationRequest" />
      <wsdl:output message="ns:DoReauthorizationResponse" />
    </wsdl:operation>
    <wsdl:operation name="DoVoid">
      <wsdl:input message="ns:DoVoidRequest" />
      <wsdl:output message="ns:DoVoidResponse" />
    </wsdl:operation>
    <wsdl:operation name="DoAuthorization">
      <wsdl:input message="ns:DoAuthorizationRequest" />
      <wsdl:output message="ns:DoAuthorizationResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PayPalAPISoapBinding" type="ns:PayPalAPIInterface">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RefundTransaction">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillUser">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionSearch">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MassPay">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillAgreementUpdate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressVerify">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnterBoarding">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoardingDetails">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayPalAPIAASoapBinding" type="ns:PayPalAPIAAInterface">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoExpressCheckoutPayment">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExpressCheckout">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpressCheckoutDetails">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDirectPayment">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoCapture">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoReauthorization">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoVoid">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAuthorization">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayPalAPIInterfaceService">
    <wsdl:port name="PayPalAPI" binding="ns:PayPalAPISoapBinding">
      <wsdlsoap:address location="https://api.sandbox.paypal.com/2.0/" />
    </wsdl:port>
    <wsdl:port name="PayPalAPIAA" binding="ns:PayPalAPIAASoapBinding">
      <wsdlsoap:address location="https://api-aa.sandbox.paypal.com/2.0/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>